@import '../../../static/styles/colors.less';

.app-header {
  background-color: @dark-grey;
  height: 50px;
  padding: 20px;
  color: @white
}

.app-header__settings {
  vertical-align: text-bottom;
  width: 250px;
  float: right;
  .app-header__change-lang {
    float: left;
  }
  .app-header__login-button {
    float: left;
    width: 200px;
  }
}

.app-header__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header__title {
  font-size: 30pt;
  width: 400px;
}